<div class="review">
  <a href="/details/{{review.rangeId}}">Range: {{review.range}}</a><br>
  <a href="/personDetails/{{review.reviewerId}}">Written by: 
  {{review.reviewer}}:<br></a>
  {{review.aReview}}
</div>