<div class="person">
  <p class="name">{{people.name}}</p>
  <p class="about">Intro: {{people.about}}</p>
  <img class="user_image" src="{{people.imageURL}}" style="width: 200px;px"><br>
  <p class="age">Age: {{people.age}}</p>
  <a class="btn" href="/details/personDetails/{{people._id}}">Details</a>
</div><br>