<div class="range">
  <p class="name">{{ranges.name}}</p>
  <img class="image" src="{{ranges.imageURL}}"><br>
  <p><span>Details:</span><br>
    {{ranges.membersOnly}}<br>
    {{ranges.address}}<br>
    {{ranges.city}}<br>
    {{ranges.state}} {{ranges.zip}}<br></p>
  <a class="btn" href="/details/{{ranges._id}}">Details</a>
</div>