<div class="range-details">
  <p class="name">{{ranges.name}}</p>
  <img class="image" src="{{ranges.imageURL}}" style="width: 200px;px"><br>
  <p><span>Details:</span><br>
    {{ranges.membersOnly}}<br>
    {{ranges.address}}<br>
    {{ranges.city}}<br>
    {{ranges.state}} {{ranges.zip}}<br>
    {{ranges.indoorLanes}}<br>
    {{ranges.outdoorLanes}}<br>
    {{ranges.trapSkeet}}
    {{ranges.rentSales}}
    {{ranges.gunsmith}}
    </p>
  <a class="btn" href="/details/{{ranges._id}}">Details</a>
</div>