<html lang='en'>
  <!-- header -->
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' type='text/css' href='style.css' />
    <title>Range Index</title>
  </head>
  <!-- body -->
  <body>
    <header>
      <div class="container">
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/createUser'>Register</a></li>
        {{! <li><a href="/addRange">New Range</a></li> }}
        <li><a href='/about'>About</a></li>
        <li><a href='/blogs'>Blogs</a></li>
        <li><a href='/logout'>Logout</a></li>
      </ul>
    </div>
  </header>
    <h1><a href='/'>Hello Range</a></h1>
    <div class='form'>

      <form class="add-range-form" action='/addRange' method='POST'>
      <h3>Add New Range:</h3>
      <label for='name'>Name:</label>
      <input type='text' id='name' name='name' value='{{range.name}}' />
      <br />
      <label for='address'>Address:</label>
      <input
        type='text'
        id='address'
        name='address'
        value='{{range.address}}'
      />
      <br />
      <label for='city'>City:</label>
      <input type='text' id='city' name='city' value='{{range.city}}' />
      <br />
      <label for='state'>State:</label>
      <input type='text' id='state' name='state' value='{{range.state}}' />
      <br />
      <label for='zip'>Zip:</label>
      <input type='text' id='zip' name='zip' value='{{range.zip}}' />
      <br />
      <input
        type='checkbox'
        id='members Only'
        name='members Only'
        value='members Only'
      />
      <label for='members Only'> Members Only?</label>
      <br />
      <label for='indoorLanes'>Indoor Lanes:</label>
      <input
        type='number'
        value='0'
        max='42'
        min='0'
        id='indoorLanes'
        name='indoorLanes'
        value='{{range.indoor.number}}'
      />
      <br />
      <label for='outdoorLanes'>Outdoor Lanes:</label>
      <input
        type='number'
        value='0'
        max='42'
        min='0'
        id='outdoorLanes'
        name='outdoorLanes'
        value='{{range.outdoor.number}}'
      /><br>

      <input
        type='checkbox'
        id='trapSkeet'
        name='trapSkeet'
        placeholder="Not available"
        value=' Trap and Skeet avialable'
      />
      <label for='trapSkeet'> Trap / Skeet?</label>
      <br>
      <input
        type='checkbox'
        id='rentSales'
        name='rentSales'
        placeholder=" Not available"
        value='Rent and Sales available'
      />
      <label for='rentSales'> Rental or Sales?</label>
      <br>
      <input 
        type='checkbox' 
        id='gunsmith' 
        name='gunsmith'
        value='Gunsmith available on location.' 
      />
      <label for='gunsmith'> Gunsmith?</label>
      <br>
      
      <label for='image'>Add an image</label>
      <input
        placeholder="url here"
        type='text'
        id='image'
        name='imageURL'
        value='{{range.imageURL}}'
        />
        <br />
        <input type='submit' value='Submit' href='/addReview/{{range._id}}' />
      </form>
    </div>
  </body>
</html>