<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="icon" type="image/png" href="/public/images/favicon-16x16.png" sizes="16x16">
    <link href="/style.css" type="text/css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Your Review</title>
  </head>
  <body>
<!-- body -->
<body>
  {{> header }}
  
  <h1>Hello Review</h1><br>
  <div class="newReview">
    <p><label for="newReview">Add Review for: {{range.name}}</label>
    <form action='/addReview' method='POST'>
{{!-- req.cookies not working within .hbs, adding values in associased .js --}}
      <input type="hidden" id="reviewer" name="reviewer" value="{{req.cookies.username}}">
      <input type="hidden" id="reviewerId" name="reviewerId" value="{{req.cookies.userId}}">
      <input type="hidden" id="range" name="range" value="{{range.name}}">
      <input type="hidden" id="rangeId" name="rangeId" value="{{range._id}}">

      <textarea name="aReview"
        value="{{review.content}}"
        id="aReview" 
        rows="4" 
        cols="75" 
        placeholder="Mostly Harmless"
      ></textarea><br>
      <input type='submit' value='Submit' href='/index' />
    </form>
  </div>
</body>