<!DOCTYPE html>
<html lang="en">
<head>
    

    <link href="/style.css" type="text/css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shooting Range Details</title>
    
</head> 
<body>
{{> header }}

    <div>
      <h1> {{range.name}} Details and Reviews: </h1>
    </div>
    
<div class="range-details">
    <div class="range-info">
      <a>{{range.membersOnly}}</a><br>
      <a>Address:</br></a>    
      <a>{{range.address}}</a><br>
      <a>{{range.city}}, {{range.state}} {{range.zip}}</a><br>
      <a>Indoor Lanes: {{range.indoorLanes}}</a><br>
      <a>Outdoor Lanes: {{range.outdoorLanes}}</a><br>
      <a>{{range.trapSkeet}}</a><br>
      <a>{{range.rentSales}}</a><br>
      <a>{{range.gunsmith}}</a><br>
    </div>

  <div class="image-header">
    <a class="image-headerbtn" href="{{range.imageURL}}">Images</a>
    <br>
    <img src="{{range.imageURL}}">
  </div><br>
</div>
{{!-- populate current reviews --}}
  <div class="review" >
    <h4> Reviews: </h4>
    <a class='btn' href='/addReview/{{range._id}}'>Add A Review</a>
    {{#each reviews}}
      {{> reviewDiv review=this}}
    {{/each}}
  </div>

</body>
</html>