<!DOCTYPE html>
<html lang="en">
<head>
      <link href="style.css" type="text/css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Details</title>
</head>
<body>
   
    <header>
      
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/createUser">Register</a></li>
      <li><a href="/addRange">New Range</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
     
    </header>
   
      <h1>{{range.name}}</h1>
      <h2>{{range.}}</h2>
    {{!-- another way to populate --}}
 {{#each ranges }}
        <div class="aRange">
        <img class="aRange" src="{{ranges.image_url}}">
        <p class="name">{{ranges.name}}</p>
        <p><span>Address: {{ranges.address}}</span> </p>
        <a class="btn" href="/details">Details</a>
      </div>
      {{/each}}
  
      
    
     

</body>
</html>