<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/style.css" type="text/html" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <div class="container">
    <header>
      <ul>
        <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/createUser">Register</a></li>
      <li><a href="/addRange">New Range</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
      </ul>
    </header>
    <main>
      <h1>{{range.name}}</h1>
      {{!-- <div id="ranges">
         {{#each ranges}}
          <div class="rangeDetails"> --}}
              <h2 >{{range.trapSkeet}}</h2>
              <br>
              <p class="oudoorLanes">{{range.outdoorLanes}}</p>
              <br>
              <p class="trapSkeet">{{range.trapSkeet}}</p>
              <br>
              <p class="rentSales">{{range.rentSales}}</p>
              <br>
              <p class="gunsmith">{{range.gunsmith}}</p>
              <br>
          {{!-- {{/each}} --}}
          </div>
      </div>
     
   
  
      
    </main>
     
  </div>
</body>
</html>